footer{
  background-color: $lettersheadtwo;
  //@include flex(flex,center,column,center);
  h1{
    color: $Backone;
    margin-bottom: 1rem;
  }
  h6{
    color: $Backone;
    margin-bottom: 1rem;
  }
  .form{
    form{
      
      .form-one{
        @include flex(flex,space-between,row,start);
        margin-bottom: 1rem;
        input{
          max-width: 14rem;
          background-color: $Backone;
        }
      }
      input{
        margin-bottom: 1rem;
      }
      textarea{
        min-height: 10rem !important;
        background-color: $Backone;
        margin-bottom: 1rem;
      }
      button{
        width: 100%;
        max-width: 50rem;
        background-color: orangered;
        border: 3px solid transparent;
        border-radius: 5px;
        letter-spacing: 5px;
        font-weight: 700;
        transition: all .5s ease;
        padding: 10px 20px;
        &:hover{
          color: $Backone;
          border:3px solid $Backone;
          background-color: transparent;
        }
      }
    }
  }
  hr{
    border: 2px solid $letters !important;
  min-width: 5rem !important;
  opacity: 100% !important;
  }
  .bottom{
    @include flex(flex,space-between,row,center);
  }
  .last{
    padding: 10px 0px;
    .row{
      @include flex(flex,space-between,row,center);
      h3{
        color: black !important;
        font-family: 'Caladea', serif;
        font-weight: 700;

      }
      .copyright-text{
        @include flex(flex,center,row,center);
        a{
          text-decoration: none;
          color: black;
          font-weight: 500;
        }
      }
      .footer-icons{
        @include flex(flex,end,row,center);
        a{
          margin-left: 1rem;
          i{
            font-size: 2rem;
            color: black;
          }
        }
      }
    }
  }
}

@media (max-width: 991px){
  footer{
    background-color: $lettersheadtwo;
    //@include flex(flex,center,column,center);
    h1{
      color: $Backone;
      margin-bottom: 1rem;
    }
    h6{
      color: $Backone;
      margin-bottom: 1rem;
    }
    .form{
      form{
        
        .form-one{
          @include flex(flex,space-between,row,start);
          margin-bottom: 1rem;
          input{
            max-width: 14rem;
            background-color: $Backone;
          }
        }
        input{
          margin-bottom: 1rem;
        }
        textarea{
          min-height: 10rem !important;
          background-color: $Backone;
          margin-bottom: 1rem;
        }
        button{
          width: 100%;
          max-width: 50rem;
          background-color: orangered;
          border: 3px solid transparent;
          border-radius: 5px;
          letter-spacing: 5px;
          font-weight: 700;
          transition: all .5s ease;
          padding: 10px 20px;
          &:hover{
            color: $Backone;
            border:3px solid $Backone;
            background-color: transparent;
          }
        }
      }
    }
    hr{
      border: 2px solid $letters !important;
    min-width: 5rem !important;
    opacity: 100% !important;
    }
    .bottom{
      @include flex(flex,space-between,row,center);
    }
    .last{
      padding: 50px 0px;
      .row{
        @include flex(flex,space-between,row,center);
        h3{
          @include flex(flex,center,column,center);
          color: black !important;
          font-family: 'Caladea', serif;
          font-weight: 700;
          font-size: 3rem ;
        }
        .copyright-text{
          @include flex(flex,center,row,center);
          
          a{
            text-decoration: none;
            color: black;
            font-weight: 500;
          }
        }
        .footer-icons{
          @include flex(flex,center,row,center);
          
          a{
            margin-left: 1rem;
            i{
              font-size: 2rem;
              color: black;
            }
          }
        }
      }
    }
  }
}